<div class="main-div">
    <ejs-tab id="tab_default" heightAdjustMode='Auto'>
        <e-tabitems>
            <e-tabitem [header]='headerText[0]' cssClass="e-outline">
                <ng-template #content>

                    <ejs-grid #grid [dataSource]="featureData" height='500'>
                        <e-columns>
                            <e-column field="FeatureName" headerText="Feature Name" width="250" textAlign="center"
                                [allowEditing]="true"></e-column>
                                <e-column headerText="All" width="120" textAlign="center">
                                    <ng-template #template let-data let-rowIndex="index">
                                        <ejs-checkbox #checkbox (change)="onChange($event)"></ejs-checkbox>
                                    </ng-template>
                                </e-column>
                            <e-column headerText="View" width="120" textAlign="center">
                                <ng-template #template let-data let-rowIndex="index">
                                    <ejs-checkbox #checkbox [checked]="data.View"></ejs-checkbox>
                                </ng-template>
                            </e-column>
                            <e-column headerText="Add" width="120" textAlign="center">
                                <ng-template #template let-data>
                                    <ejs-checkbox #checkbox [checked]="data.Add"></ejs-checkbox>
                                </ng-template>
                            </e-column>
                            <e-column headerText="Edit" width="120" textAlign="center">
                                <ng-template #template let-data>
                                    <ejs-checkbox #checkbox [checked]="data.Edit"></ejs-checkbox>
                                </ng-template>
                            </e-column>
                            <e-column headerText="Active" width="120" textAlign="center">
                                <ng-template #template let-data>
                                    <ejs-checkbox #checkbox [checked]="data.Active"></ejs-checkbox>
                                </ng-template>
                            </e-column>
                            <e-column headerText="Delete" width="120" textAlign="center">
                                <ng-template #template let-data>
                                    <ejs-checkbox #checkbox [checked]="data.Delete"></ejs-checkbox>
                                </ng-template>
                            </e-column>
                            <e-column headerText="Export" width="120" textAlign="center">
                                <ng-template #template let-data>
                                    <ejs-checkbox #checkbox [checked]="data.Export"></ejs-checkbox>
                                </ng-template>
                            </e-column>

                        </e-columns>
                    </ejs-grid>


                </ng-template>
            </e-tabitem>
            <e-tabitem [header]='headerText[1]'>
                <ng-template #content>
                    <ejs-grid #grid [dataSource]="fieldData" height='500' [editSettings]="editSettings" [toolbar]="toolbar" (actionComplete)="onActionComplete($event)">
                        <e-columns>
                            <e-column field="DisplayName" headerText="Fields" width="550" textAlign="center"></e-column>

                            <e-column headerText="Action" width="120" textAlign="center" isPrimaryKey="true">
                                <ng-template #template let-data>
                                    <ejs-checkbox #checkbox [checked]="data.Edit"></ejs-checkbox>
                                </ng-template>
                            </e-column>

                        </e-columns>
                    </ejs-grid>
                </ng-template>
            </e-tabitem>
        </e-tabitems>
    </ejs-tab>
</div>